<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Exercice 5</title>
</head>
<body ng-app="myApp">
    <!-- container Bootstrap -->
    <div class="container">
        <!-- header -->
        <header>
          <div class="jumbotron">
            <h1 class="display-3 text-center text-dark">Exercice 5</h1>
            <p class="lead text-center text-danger">Faire une page HTML contenant un bouton Afficher et un bouton Cacher. Au clic sur l'un ou sur l'autre afficher ou non un paragraphe de votre choix.</p>
          </div>
        </header>
        <!-- main -->
        <main>
          <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-dark" ng-click="paragraph = ''">Masquer</button>
             <p> {{paragraph}} </p>
            <button type="button" class="btn btn-dark" ng-click="paragraph = 'Bonjour, monde'">Afficher</button>
          </div>
          <div class="d-flex justify-content-around mt-5">
            <button type="button" class="btn btn-dark" ng-click="text = false">Masquer</button>
             <p ng-init="text = true" ng-show="text"> Bonjour à tous ! </p>
            <button type="button" class="btn btn-dark" ng-click="text = true">Afficher</button>
          </div>

        </main>
        <!-- footer -->
        <footer>

        </footer>
    </div>
    <!-- scripts JQuery, Popper, Angular et Bootstrap-->
    <script src="assets/js/jquery-3.4.0.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/angular/angular.min.js"></script>
    <!-- mon script principal -->
    <script src="assets/js/main.js"></script>
</body>
</html>
